/* //Site wide font
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

// Eric meyers reset for cross-browser uniformity */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* Mobile first styling */
/* a{
  color: black;
}

p{
  font-size: 18px;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 5px;
}
h3{

  text-align: center;
  font-size: 30px;
} */


.mainIntroduction{
  padding: 20px;
}
.heading{
  width: 100%;
  height: 60px;
}

.heading h1{
  font-size: 25px;
  margin-bottom: 10px;
}

.mainUnderline{
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
.subUnderline{
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 10px;
  background-color:red;
  z-index: 10;
}

.mainIntroduction img{
  width: 100%;
}


/* Responsive for desktop */
@media screen and (min-width:600px){
  .mainIntroduction{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  .heading p{
    margin: 20px;
  }
}
