/* Welcome section */
.welcome button{
  padding: 10px 16px;
  border: 1px solid #e38f84;
  background-color: #e38f84;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
}
.welcome button:hover{
  padding: 10px 17.6px;
}



/* Responsive for tablet */
@media screen and (min-width:600px){
.welcome{
display: grid;
grid-template-columns: 1fr 1fr;
  padding:50px 5%;
}
.welcome img{
width: 80%;
}

.whoWeAreSection{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.colorPink{
  color: #e38f84;
}
.whoWeAreText{
    padding:0 5%;
}
.whoWeAreText p{
  padding: 20px 0;
}
.whoWeAreSpecifics{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 15px;
}

}



/* Responsive for desktop */
@media screen and (min-width:1000px){
  .welcome{
  display: grid;
  grid-template-columns: 1fr 1fr;
    padding:50px 15%;
  }
}





.impactSection{
background-color: black;
width: 100%;
padding: 20px;
}
/* Pie chart */
#bars {
    margin: 2em 15%;
    /* max-width: 960px; */
    overflow: hidden;
    background-color: black;
    color: white;
}



/* Making the pie chart Responsive for mobile*/
@media screen and (max-width:600px){
  #bars {
    margin: 0;
    display: block;
      /* max-width: 960px; */
      overflow: hidden;
  }
  .bar {
    display: block; margin: 0 auto;
      min-width: 320px;
      text-align: center;
  }
}

.bar {
    float: left;
    width: 25%;
    text-align: center;
}

.bar h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

.bar-circle {
    display: block;
    margin: 0.7em auto;
}
