/*
    Created on : Jun 28, 2018, 8:36:03 PM
    Author     : FUJITSU
*/
a{
    color: black;
}

#centerLineOuter{
    width:300px;
    height: 5px;
    background-color:#ccc;
      display: block;
    margin: 10px auto;

}
#centerLineInner{
    width:20%;
    height: 5px;
    background-color:red;
    display: block;
    margin: 0 auto;
}

.portfolioHeading h1{
    text-align: center;
}
.portfolioHeading p{
    text-align: center;
}

/*Responsive for tablet*/
@media screen and (min-width:600px){
    .portfolioHeading{
        margin: 50px 5%;
    }
    .portfolioImages{
        margin: 50px 5%;
    }

    .portfolioImages a img{
      height: 100%;
    }
}


/*Responsive for desktop*/
@media screen and (min-width:1000px){
    .portfolioHeading{
        margin: 50px 15%;
    }
    .portfolioImages{
        margin: 50px 15%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .portfolioImages a img{
      height: 100%;
    }
}
