
body{
  width: 100%;
  margin: 0;
}
/* Mobile first styling */
a{
  color: black;
}
a{
  text-decoration: none;
  word-spacing: 2px;
  letter-spacing: 2px;
}
h1{
  margin-bottom: 20px;
}
/* Making heading responsive */
@media screen and (max-width:500px){
h1{
  font-size: 40px;
}
}

h3{
  font-size: 30px;
}
.portfolioIntro p{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
}


.portfolioIntro{
  width: 100%;
  /* height: 200px; */
  border: 1px solid black;
}


.headingIntro{
  width: 300px;
  padding: 10px;
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}
.mainUnderline{
height: 10px;
width: 100%;
background-color: #ccc;
}

.subUnderline{
  width: 20%;
  height: 10px;
  display: block;
  margin: 0 auto;
  background-color: red;
}

.slideButtons{

  width: 300px;
  display: block;
  margin: 0 auto;
    margin-top: 30px;
}
button{
  display: inline;
  margin: 0 auto;
  width: 50px;
}
/* Mobile view for pictures of portfolio */
.portfolioSection img{
  width: 100%;
}

/* Tablet view for portfolio */
@media screen and (min-width:600px){
  .portfolioSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
/* responsive for desktop view of portfolio */
@media screen and (min-width:1000px){

  .portfolioSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


  .sliderSection{grid-column: 1/5;
    border: 1px solid black;
    height: 100px;
  }

}
