//Site wide font
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

// Eric meyers reset for cross-browser uniformity
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// My styles starts here
.mainContainer{
  display: grid;
  grid-template-columns:repeat(5,auto);
  grid-template-rows:auto auto auto auto auto auto;
		// overflow: hidden;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

// Site wide sub-headings
h1{
  font-size: 3.5em;
  text-align: center;
}
h3{
  font-size: 1.2em;
  text-align: center;
}

// Site wide placeholders
::placeholder{
	text-align: center;
}
p{
  font-size: 1.5em;
  color: black;
  text-align: center;
}

// Site wide images
img{
  margin: 0 auto;
}
// Site wide button
button{
  cursor: pointer;
  outline: none;

  color: white;
  text-shadow: none;


  border: 2px solid;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em!important;

  display: block;
  margin: 0 auto;
  width: 150px;
  margin-top: 30px;
}
button:hover{
    // padding-right: 20px;
    // // padding-right: 20px;
      width: 170px;
    //   margin-left: 220px;
  // border-color:transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
nav{
  grid-column: 1/6;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
}
@keyframes roll{
  0%{
    // transform: rotate(360deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    // transform: rotate(360deg);
  }
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav ul li a{
  display: inline;
}
.topnav ul li a:hover{
  display: block;
}
@media screen and (max-width:600px){
  .topnav ul li a{
    display: none;
  }
}

// .topnav ul li:hover{
//   display: block;
// }
.topnav a{
  line-height: 50px;
  float: left;
  display: block;
  color: #e38f84 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.5em;
}
// input{
//   width: 50px;
// }
// input,button{
//   margin-top: 20px;
//   height: 10px;
// }

.topnav a:hover {
  // background-color: #ddd;
  color: black;
  text-decoration: underline;
}

.active {
  background-color: #fff;
  color: white;
  padding: none;

}

.topnav .icon {
  display: none;
}


// dropdown button
.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // padding: 12px 16px;
    z-index: 20;
    a{
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      border-right: 1px solid white;
      // margin: 0;
    }

}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width:600px){
  .dropdown-content{
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav ul li img{
    display: block;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin: 0 auto;
  }

	.searchBar{
		display: block;
		text-align: center;
	}
}

.searchBar{
  button{
    float: right;
    margin: 0;
    padding: 2px;
    margin: 20px 0;
    width: 50px;
    color: #000;
    background-color: #e38f84;
  }
  button:hover{

  }
  input{
    border: 1px solid black;
    height: 40px;
    width: 200px;
    float: right;
    margin: 21px 0;
    margin-right: 5px;
    padding-left: 3px;
    font-size: 20px;
  }
  ::placeholder{
    font-size: 20px;
    margin: 0 auto;
  }
}


.mainHeader{
  grid-column: 1/6;
  height: 680px;
  // background: url("../images/Code4CT-homepage.jpg");
  background-size: cover;
  min-width: 40%;
  background-repeat: no-repeat;
  .mainText{
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0 20%;
      margin-top: 15%;
    h1{
      font-size: 3em;
      color: white;
      text-align: center;
    }
    p{
      font-size: 1.5em;
      color: white;
      text-align: center;
    }
  }

}
#myCarousel{
	position: absolute;
	top: 100px;
  grid-column: 1/6;
	img{
		margin: 0 auto;
		padding: 0;
		width: 100%;
		// height: 650px;
	}
}

// Making mainHeader responsive
@media screen and (min-width:600px){

	#myCarousel{
		position: absolute;
		top: 100px;
	  grid-column: 1/6;
		img{
			margin: 0 auto;
			padding: 0;
			width: 100%;
			height: 650px;
		}
	}

}
.container{
	margin: 0;
}









.aboutPreview{
  margin: 20px;
  grid-column: 1/6;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap:30px;
  .imageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  h1{
    grid-column: 1/3;
  }
  img{
    width: 100%;
    // grid-column: 2/3;
    // grid-row: 1/2;
  }
  p{
    grid-column: 2/3;
  }
  button{
    grid-column: 2/3;
    background-color: #000;
    border: 2px solid #e38f84;
  }
}
// Responsive for desktop
@media screen and (max-width:800px){
  .aboutPreview{
    grid-column: 1/6;
  display: block;

    img{
      width: 100%;

    }
    p{
    }

    button{
      background-color: #000;
      border: 2px solid #e38f84;
    }
  }
}


.icons{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4,auto);
  background: rgba(0, 0, 0, 1);
  padding: 20px;
  box-shadow: 10px 10px 5px grey;

h1{
  font-size: 2.5em;
  color: white;
}
h3{
  font-size: 1.5em;
  color: white;
}


  margin: 20px;
    img{
      border-radius: 5px;

      display: block;
      margin: 0 auto;
      width: 120px;
      height: 120px;
        // margin: 20px;
      // height:350px;

    }

    div{

    }

}





// Making the icons section responsive for desktop
@media screen and (min-width:700px){
  .icons{
    grid-column: 1/6;
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-template-rows:auto ;
    // grid-gap: 10px;

    // div{
    //   border:1px solid black;
    // }
      img{
          margin: 0 auto;
          // height: 250px;

      }

  }
}

.courses{
  grid-column: 1/6;
  background-color: #e38f84!important;
  color: white;
  margin: 20px;
  padding-bottom: 10%;
  // padding: 20px 100px;
  p{
      color: white;
    font-size: 1.5em;
  }
}

// Responsive for desktop
@media screen and (min-width:800px){
  .courses{
    padding:0 20%;
      padding-bottom: 30px;
  }
}




// Portfolio section
.portfolio{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:auto auto auto auto auto;
  h1{
    // grid-column: 1/3;
  }
  h2{
    font-size: 1.5em;
    text-align: center;
  }
  img{
    display: block;
    margin: 0 auto;
    width: 100%;
    // height: 400px;
    border: 1px solid black;
  }
  figure{
    margin: 20px 5px;
  }
  figcaption{
    display: block;
    margin: 0 auto;
      // width: 400px;
  }
}

// making portfolio page responsive for desktop
@media screen and (min-width:600px){

  .portfolio{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto auto;}
    h1{
      grid-column: 1/3;
    }
    // #portfolio4{
    //   grid-row: 3/4;
    //   grid-column: 2/3;
    // }
}

// Meet our team section
// Mobile view
.meetOurTeam{
	grid-column: 1/6;

	button{
		margin: 0 auto;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 0;
	}

	figure img{
		display: block;
		margin: 0 auto;
	}
	h3{
		// text-align: left;
		font-size: 28px;
	}
	h4{
		text-align: center;
		font-size: 24px;
	}
	h1{
		margin-bottom: 30px;
	}
	p{
		margin: 0 20px;
		text-align: center;
		font-size: 23px;
	}

	figure .hidden{
		display: none;
		margin: 20px;
	}

	figure .show{
		display: block;
	}

}

// Tablet view
@media screen and (min-width:700px){
	.meetOurTeam{
		grid-column: 1/6;
		display: grid;
		grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			figure{
				img{
					float: left;
				}
			}

			figure {
    font-size: 20px;
}
	}
}


// Mobile first styling
.stats{
	background-color: black;

		grid-column: 1/6;
	display:block;
	section{
		margin: 50px;
	}
.line{
	width: 70px;
	height: 10px;
	background-color: #e38f84;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
h1,p{
		color: white;
}

}

// Responsive for tablet
@media screen and (min-width:600px){
	.stats{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;


	}
}
// Responsive for desktop
@media screen and (min-width:900px){
	.stats{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}



// Subscribe section
.subscribe{
	margin:30px 10%;
h1{
	grid-column: 1/3;
}
	grid-column: 1/6;
// margin: 20px 20%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	p{
		grid-column: 1/3;
	}

	input{
		// margin: 0;
		margin-top: 20px;
		// width: 230px;
		height: 40px;
		// margin-left: 30px;
		float: right;
		text-align: center;
		font-size: 15px;
	}
	button{
	    margin: 0;
	    // padding: 20px;
	    margin: 20px 2px;
	    width: 150px;
	    color: #000;
	    background-color: #e38f84;
	}
}

// Responsive for tablet on subscribe
@media screen and (min-width:600px){
.subscribe{
	margin: 30px 25%;

	input{
		font-size: 20px;
	}
}
}



.carousel{
	grid-column: 1/7;
	/* width: 200px; */
	/* position: static; */
	// width: 100%;
	height: 180px;
	border: 1px solid black;
	overflow: hidden;
	background-color: black;


.sub{
height: 180px;
width: 4880px;
background-color: black;
/* border:1px solid black; */

animation-name: thing;
animation-duration: 10s;
animation-timing-function: ease-in-out;
animation-timing-function: linear;
animation-iteration-count: infinite;
position: relative; left:-4880px;
img{
margin-left:50px;
margin-right:50px;
}

}
}
@keyframes thing{

	100%{position: relative;left:100%;}
	/* 50%{position: relative;left:2000px;} */
}
